@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.label {
  @apply block text-[16px] font-medium text-gray-700 pr-[2px];
}
.label-sm {
  @apply block text-[14px] font-medium text-gray-700 px-[2px];
}
.label-container {
  @apply flex flex-col gap-[6px];
}
.mux-player {
  --media-object-fit: fill display: inline;

  /* --controls: none; */
  aspect-ratio: 16/9 !important;
  max-height: 80vh;
  max-width: 70%;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  transition: transform 0.3s ease-in-out !important;
}

.jodit-workplace{
  min-height:40vh !important;
}
.shadow-1 {
  transition: all 0.3s linear;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shadow-1:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #e8e8e8;
  --sb-size: 8px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
  
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*---------- Switch END ----------*/

.videoSectionWrap .hide {
  display: none;
}

.videoSectionWrap .show {
  display: flex;
}

.hide {
  display: none;
}
.show {
  display: flex;
}
.glassmorphic-effect-1 {
  backdrop-filter: blur(4px) saturate(179%);
  -webkit-backdrop-filter: blur(4px) saturate(179%);
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 8px;
}
.gradient-1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(215, 135, 230) 0%,
    rgb(172, 175, 223) 100%
  );
}
.custom-loader {
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.absolute-center-top {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.video_player {
  aspect-ratio: 16/9;
  max-height: 80vh;
}
.image_thumnail {
  aspect-ratio: 16/9;
  max-height: 80vh;
}
.mic-mute {
  background: linear-gradient(
    160deg,
    rgba(64, 95, 255, 0.5) 0%,
    rgba(60, 255, 173, 0.5) 86%
  ) !important;
  backdrop-filter: blur(15px) !important;
}

.mic-mute:hover {
  background: linear-gradient(
    160deg,
    rgba(64, 95, 255, 0.8) 0%,
    rgba(60, 255, 173, 0.8) 86%
  ) !important;
}

.mic-speak {
  background: linear-gradient(
    0deg,
    rgba(239, 60, 255, 0.5) 0%,
    rgba(228, 61, 255, 0.5) 0%,
    rgba(117, 68, 255, 0.5) 86%
  ) !important;
  backdrop-filter: blur(15px) !important;
}

.mic-speak:hover {
  background: linear-gradient(
    0deg,
    rgba(239, 60, 255, 0.8) 0%,
    rgba(228, 61, 255, 0.8) 0%,
    rgba(117, 68, 255, 0.8) 86%
  ) !important;
}
.ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc .ndfHFb-c4YZDc-Wrql6b {
  display: none !important;
}
.ndfHFb-c4YZDc.ndfHFb-c4YZDc-i5oIFb
  .ndfHFb-c4YZDc-Bz112c:not([onclick]):not(:link):not(:visited) {
  display: none !important;
}
.toolbar {
  visibility: hidden !important;
  display: none !important;
}
#viewerContainer {
  top: 0;
}
.pdfViewer .page {
  margin: 0;
  border: 0;
  padding: 0;
}

.btn-gradient {
  @apply text-white h-[45px] md:h-10 text-[13px] py-[2px] rounded-[10px] flex justify-center items-center;
  background-image: linear-gradient(
    to right,

    rgb(113, 1, 218),
    rgb(206, 70, 190)
  );
  border: 0;
  transition: all 0.2s ease-in;
}
.btn-glow:hover {
  box-shadow: rgba(111, 76, 255, 0.7) 1px 0px 20px 1px;
}
.loader {
  width: 32px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgba(248, 247, 247, 0.5) 30%,
        #0000 0 70%,
        rgb(255, 255, 255) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(233, 233, 233, 0.25) 30%,
        #efefef00 0 70%,
        rgba(233, 232, 232, 0.75) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
/* HTML: <div class="loader"></div> */
.wavy-loader {
  width: 32px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #dad4d4 90%, #b7b3b300);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* Headings */
.h1-bold {
  @apply text-3xl font-bold text-gray-800;
}
.h1-medium {
  @apply text-3xl font-normal text-gray-800;
}
.h1-light {
  @apply text-3xl font-light text-gray-800;
}

.h2-bold {
  @apply text-2xl font-bold text-gray-800;
}
.h2-medium {
  @apply text-2xl font-normal text-gray-800;
}
.h2-light {
  @apply text-2xl font-light text-gray-800;
}

.h3-bold {
  @apply text-xl font-bold text-gray-800;
}
.h3-medium {
  @apply text-xl font-normal text-gray-800;
}
.h3-light {
  @apply text-xl font-light text-gray-800;
}

.h4-bold {
  @apply text-lg font-bold text-gray-800;
}
.h4-medium {
  @apply text-lg font-normal text-gray-800;
}
.h4-light {
  @apply text-lg font-light text-gray-800;
}

.h5-bold {
  @apply text-base font-bold text-gray-800;
}
.h5-medium {
  @apply text-base font-normal text-gray-800;
}
.h5-light {
  @apply text-base font-light text-gray-800;
}

.h6-bold {
  @apply text-sm font-bold text-gray-800;
}
.h6-medium {
  @apply text-sm font-normal text-gray-800;
}
.h6-light {
  @apply text-sm font-light text-gray-800;
}

/* Paragraphs */
.p-bold {
  @apply text-base font-bold text-gray-800;
}
.p-medium {
  @apply text-base font-normal text-gray-800;
}
.p-light {
  @apply text-base font-light text-gray-800;
}
.p-small-bold {
  @apply text-sm font-bold text-gray-800;
}
.p-small-medium {
  @apply text-sm font-normal text-gray-800;
}
.p-small-light {
  @apply text-sm font-light text-gray-800;
}

/* Large Paragraphs */
.p-large-bold {
  @apply text-lg font-bold text-gray-800;
}
.p-large-medium {
  @apply text-lg font-normal text-gray-800;
}
.p-large-light {
  @apply text-lg font-light text-gray-800;
}